[Desktop Entry]
Categories=Game
Comment=Save the bees in this tiny world
Exec=honey-home
GenericName=Honey Home
Icon=honey-home
Name=Honey Home
Type=Application
Version=1.5
