on:
  workflow_dispatch:

jobs:
  builder:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: save gh access token for later
        run: echo "ENV_GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
      # todo system-manager and hm switch, both are slow
      - uses: tailscale/github-action@6cae46e2d796f265265cfcf628b72a32b4d7cade # v3.3.0
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest
          use-cache: "true"
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # master
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          # below being set via sysm's nix.settings
          #extra_nix_config: |
          # system-features = kvm benchmark big-parallel nixos-test uid-range
        # FIXME: fairly broken
      - uses: DeterminateSystems/magic-nix-cache-action@9934a5f127967bcd92e99961e365730ba57253de # main
      - name: change node name
        run: |
          sudo tailscale set --hostname="gha-system-$(nix-instantiate --raw --eval --expr 'builtins.currentSystem')"
      - name: ssh setup
        run: |
          mkdir -p ~/.ssh

          # add pub keys
          echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE57GFyCOihS1pDvAe6fzldbm2xdNfAe4VhZXYh1w5sv" >> ~/.ssh/authorized_keys
          echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF8/+FK1TAZV7p1a92/ykOXqPGt34rsiHxXLgVG3b/3x" >> ~/.ssh/authorized_keys

          # https://askubuntu.com/a/649959
          # https://unix.stackexchange.com/q/548327
          chmod go-w ~/
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/authorized_keys

          # default shell to fish
          sudo apt install fish
          sudo chsh -s $(which fish) $(whoami)
          fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher && fisher install lilyball/nix-env.fish"

          # set password just in case
          echo -e "root:${USER_PASSWD}\nrunner:${USER_PASSWD}" | sudo chpasswd
        env:
          # hint clash of clans username
          USER_PASSWD: ${{ secrets.GHA_RUNNER_PASSWD }}
      - name: setup sysm config with vnc
        run: |
          pushd hosts/sysm/gha-vnc
          nix build -L .#systemConfigs.default --impure
          cp /etc/nix/nix.conf nix.conf.old && cat nix.conf.old
          sudo rm /etc/nix/nix.conf # interferes with sysm activation
          sudo ./result/bin/activate
          sudo systemctl restart nix-daemon # reflect on new settings
          popd
      - name: install utils
        run: nix profile add nixpkgs#{lf,viddy,ripgrep,nix-output-monitor,fzf,neovim,gdu,duf,lazygit,micro,qimgv,alacritty}
        # required to keep it alive
      - name: noop
        run: while true; do sleep 10; done;
        # uses: fawazahmed0/action-debug@v2
